<include file="Common:header" />

<div class="">
  <div class="row">
    <div class="col-md-12">
      <h4>元素列表</h4>
      <a href="{:U('model/element_edit')}" class="btn"><i class="fa fa-plus"></i> 添加模具</a>

    </div>
  </div>

  <table id="company-category-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
    <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="25%">名称</th>
      <th width="5%">宽</th>
      <th width="5%">高</th>
      <th width="5%">图片</th>
      <th width="5%">显示顺序</th>
      <th width="5%">种类</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="element_list" id="element">
      <tr>
        <td>{$element.id}</td>
        <td>{$element.title}</td>
        <td>{$element.width}</td>
        <td>{$element.height}</td>
        <td><img style="max-width: 100px;max-height: 150px" src="{:getImageUrl($element[photo])}" alt=""></td>
        <td>{$element.display_order}</td>
        <td>{$element.type}</td>
        <td>
          <a href="{:U('model/element_edit',array('id'=>$element[id]))}">编辑</a>
          <a href="{:U('mould/index',array('id'=>$element[id]))}">面列表</a>
        </td>
      </tr>
    </volist>
    </tbody>
  </table>
</div>

<include file="Common:footer" />
</body>
</html>