<include file="Common:header" />

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-12">
      <form action="{:U('comments/edit')}" method="post" id="form-category-edit" onsubmit="return comment($this)">
        <input type="hidden" name="is_add" value="{$is_add}">
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>用户名：</label>
          <!--<input type="hidden" class="form-control" autocomplete="off" name="user_id"  value="{$comment.user_id}" />-->
          <!--<input type="text" class="form-control" autocomplete="off" name="title" id="title" value="{$goods.goods_name}" required />-->
            <input type="text" class="form-control" autocomplete="off" name="user_name"  value="{$comment.username}" />
            <input type="hidden" name="is_add" value="{$is_add}">
            <input type="hidden" name="id" value="{$comment.id}"/>
        </div>
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>标题：</label>

          <input type="text" class="form-control" autocomplete="off" name="title"  value="{$comment.title}" />
        </div>
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>商品：</label>
          <select name="goods_name" id="cat">
            <option value="0">请选择商品</option>
            <volist name="goods_list" id="goods">
              <option value="{$goods.title}" <if condition="$comment.goods_name eq $goods.title ">selected</if>>{$goods.title}</option>
            </volist>
          </select>
        </div>
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>内容：</label><br>
          <textarea rows="10" cols="100"name="content" style="resize: none" class="form-control">{$comment.content}</textarea>
        </div>
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>评论时间：</label><br>
          <input class="jcDate" name="add_time" />
        </div>
        <div class="form-group">
          <label for="title"><span class="c-red">*</span>星级：</label>
          <span ><input id="stars1" value="1" type="radio" name="rating" <if condition="$comment.rating eq 1">checked</if> ><label for="stars1"><img  src="__IMG__/stars1.gif" alt=""></label></span>
          <span ><input id="stars2" value="2" type="radio" name="rating" <if condition="$comment.rating eq 2">checked</if>><label for="stars2"><img  src="__IMG__/stars2.gif" alt=""></label></span>
          <span ><input id="stars3" value="3" type="radio" name="rating" <if condition="$comment.rating eq 3">checked</if>><label for="stars3"><img  src="__IMG__/stars3.gif" alt=""></label></span>
          <span ><input id="stars4" value="4" type="radio" name="rating" <if condition="$comment.rating eq 4">checked</if>><label for="stars4"><img  src="__IMG__/stars4.gif" alt=""></label></span>
          <span ><input id="stars5" value="5" type="radio" name="rating" <if condition="$comment.rating eq 5">checked</if>><label for="stars5"><img  src="__IMG__/stars5.gif" alt=""></label></span>
        </div>
        <div class="form-group clearfix">
          <label>生成产品图的图层(不透明)：</label>
          <div class="photo-picker" id="create-photo-picker">选择图片</div>
          <div id="create-photo-container"></div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">保存</button>
        </div>

        <!--<input type="hidden" name="id" value="{$goods.id}" />-->
      </form>
    </div>
  </div>
</div>
<include file="Common:footer" />
<!-- 引入相应的时间插件 -->
<script type="text/javascript" src="__TIME__/src/jQuery-jcDate.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/ossUploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/ossUploader/uploader.js"></script>
<script type="text/javascript">
  var oss_server = "{:C('OSS_HOST')}",
      oss_token_api = "{:U('oss/params')}",
      oss_preview_api = "{:U('oss/photo')}";
  var photo = "{$comment[photo]}";
  photo = photo.split(" , ");

  for (var i in photo){
      if (trim(photo[i]) == ''){
          photo.pop(i)
      }
  }

  function trim(str){
      return str.replace(/(^\s*)|(\s*$)/g, "");
  }

  $('#create-photo-picker').uploader({
    initData: photo,
    multi:true,
    container:$('#create-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="photo[]" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });

  // $('#design-photo-picker').uploader({
  //   initData: "{$goods[goods_img]}",
  //   multi:false,
  //   container:$('#design-photo-container'),
  //   imagedir: 'mould',
  //   callback: function(imginfo, box) {
  //     var input_obj = $('<input type="hidden" name="design_photo" value="'+imginfo.path+'" />');
  //     box.append(input_obj);
  //     box.find('img').css('max-width', '200px').css('width', '100%');
  //   }
  // });
  $(".jcDate").jcDate({
      Class : "", //为input注入自定义的class类（默认为空）
      Default: "today", //设置默认日期（默认为当天）
      Event : "click", //设置触发控件的事件，默认为click
      Speed : 100,    //设置控件弹窗的速度，默认100（单位ms）
      Left : 0,       //设置控件left，默认0
      Top : 22,       //设置控件top，默认22
      Format : "-",   //设置控件日期样式,默认"-",效果例如：XXXX-XX-XX
      DoubleNum: true, //设置控件日期月日格式，默认true,例如：true：2015-05-01 false：2015-5-1
      Timeout : 100,   //设置鼠标离开日期弹窗，消失时间，默认100（单位ms）
      OnChange: function() { //设置input中日期改变，触发事件，默认为function(){}
          console.log('num change');
      }
  });
  $(function(){
    formValidate("mould-edit");
  });
</script>
<script>
  function comment(obj) {

  }
</script>
</body>
</html>