<include file="Common:header" />

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-12">
      <form action="{:U('mould/edit')}" method="post" id="form-category-edit">
        <div class="form-group">
          <label for="name"><span class="c-red">*</span>标题：</label>
          <input type="text" class="form-control" autocomplete="off" name="name" id="name" value="{$sideInfo.name}" required />
        </div>
        <div class="form-group">
          <label for="width">匹配设计图宽：</label>
          <input type="text" class="form-control" autocomplete="off" name="design_width" id="design_width" value="{$sideInfo.design_width}"  />
        </div>
        <div class="form-group">
          <label for="height">匹配设计图高：</label>
          <input type="text" class="form-control" autocomplete="off" name="design_height" id="design_height" value="{$sideInfo.design_height}"  />
        </div>

        <div class="form-group clearfix">
          <label>生成产品图的图层(不透明)：</label>
          <div class="photo-picker" id="create-photo-picker">选择图片</div>
          <div id="create-photo-container"></div>
        </div>
        <div class="form-group clearfix">
          <label>设计器里的图层(半透明)：</label>
          <div class="photo-picker" id="design-photo-picker">选择图片</div>
          <div id="design-photo-container"></div>
        </div>
        <!--<input type="hidden" name="position" value="1" placeholder="位置(从1开始，在之前填写n，在之后填写-n)" />-->
        <div class="form-group">
          <label for="left_top_coordinate">左上角坐标：</label>
          <input type="text" class="form-control" autocomplete="off" name="left_top_coordinate" id="left_top_coordinate" value="{$sideInfo.left_top_coordinate}" placeholder="默认左上角，数字之间用英文逗号隔开" />
        </div>
        <div class="form-group">
          <label for="right_top_coordinate">右上角坐标：</label>
          <input type="text" class="form-control" autocomplete="off" name="right_top_coordinate" id="right_top_coordinate" value="{$sideInfo.right_top_coordinate}" placeholder="默认右下角，数字之间用英文逗号隔开" />
        </div>
        <div class="form-group">
          <label for="left_bottom_coordinate">左下角坐标：</label>
          <input type="text" class="form-control" autocomplete="off" name="left_bottom_coordinate" id="left_bottom_coordinate" value="{$sideInfo.left_bottom_coordinate}" placeholder="默认右下角，数字之间用英文逗号隔开" />
        </div>
        <div class="form-group">
          <label for="left_bottom_coordinate">右下角坐标：</label>
          <input type="text" class="form-control" autocomplete="off" name="right_bottom_coordinate" id="right_bottom_coordinate" value="{$sideInfo.right_bottom_coordinate}" placeholder="默认右下角，数字之间用英文逗号隔开" />
        </div>
        <div class="form-group">
          <label for="display_order"><span class="c-red">*</span>排序：</label>
          <input type="text" class="form-control" autocomplete="off" name="display_order" id="display_order" value="{$sideInfo.display_order}"  />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">保存</button>
        </div>
        <input type="hidden" name="cat_id" value="{$cat_id}" />
        <input type="hidden" name="id" value="{$sideInfo.id}" />
      </form>
    </div>
  </div>
</div>
<include file="Common:footer" />
<script type="text/javascript" src="__JS__/ossUploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/ossUploader/uploader.js"></script>
<script type="text/javascript">
  var oss_server = "{:C('OSS_HOST')}",
      oss_token_api = "{:U('oss/params')}",
      oss_preview_api = "{:U('oss/photo')}";

  $('#create-photo-picker').uploader({
    initData: "{$sideInfo.photo}",
    multi:false,
    container:$('#create-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });
  $('#design-photo-picker').uploader({
    initData: "{$sideInfo.design_photo}",
    multi:false,
    container:$('#design-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="design_photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      // box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });

  $(function(){
    formValidate("mould-edit");
  });
</script>
</body>
</html>