

<footer class="footer"></footer>

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/oms.js"></script>
<script type="text/javascript" src="__JS__/jQuery-Validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="__JS__/jQuery-Validation/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="__JS__/layer/layer.js"></script>
<script type="text/javascript" src="__JS__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{:U('script/loader?mod=base')}"></script>
<script type="text/javascript">
  var iframe_params = {};
  function callParentBack(func){
    eval('if(typeof '+func+'=="function")'+func+'()');
  }
</script>