<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
  <link rel="stylesheet" href="__JS__/datatables/1.10.0/jquery.dataTables.min.css">
  <link rel="stylesheet" href="__JS__/ossUploader/webuploader.css">
  <link rel="stylesheet" href="__CSS__/oms.css">
  <title>{:C('OFFICE_NAME')}</title>
</head>
<body style="padding-top:20px;padding-bottom:20px">
