<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
  <link rel="stylesheet" href="__JS__/datatables/1.10.0/jquery.dataTables.min.css">
  <link rel="stylesheet" href="__JS__/ossUploader/webuploader.css">
  <link rel="stylesheet" href="__CSS__/oms.css">
  <link rel="stylesheet" type="text/css" href="__TIME__/src/jcDate.css" media="all" />
  <!--<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.js" charset="utf-8"></script>-->





  <title>{:C('OFFICE_NAME')}</title>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container-fluid">
    <div class="navbar-header"><a href="{:U('index/index')}" class="navbar-brand">{:C('OFFICE_NAME')}</a></div>
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button">商品 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li id=""><a href="{:U('goodsModel/index')}">商品管理</a></li>
          <li id=""><a href="{:U('Model/index')}">元素管理</a></li>
          <li id=""><a href="{:U('mould/index')}">模具管理</a></li>

        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button">用户 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li id=""><a href="{:U('comments/index')}">评论管理</a></li>
          <li id=""><a href="{:U('userclass/index')}">用户管理</a></li>
          <li id=""><a href="{:U('flow/index')}">订单管理</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button">定制 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li id=""><a href="{:U('design/index')}">定制管理</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">{$Think.session.account.identity}: <strong>{$Think.session.account.alias_name}</strong> ({$Think.session.account.username})</p></li>
      <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button">用户中心 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <if condition="$Think.session.account.identity == 'superadmin'">
            <li><a href="{:U('company/index')}">企业列表</a></li>
            <li><a href="{:U('user/index')}">员工列表</a></li>
          </if>
          <if condition="$Think.session.account.identity == 'administrator'">
            <li><a href="{:U('user/index')}">员工列表</a></li>
          </if>
          <li><a id="btn-modify-profile" href="javascript:;">个人资料修改</a></li>
          <li><a href="{:U('home/account/logout')}">退出</a></li>
        </ul>
      </li>
    </ul>
  </div>

</header>
