<include file="Common:header" />

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-12">
      <form action="{:U('flow/do_order')}" onsubmit="return order_submit()" method="post">
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <tr>用户信息</tr>
        <thead>
        <tr>
          <th   style="text-align: center" >姓名</th>
          <td  align="center">{$user.name}</td>
        </tr>
        <tr>
          <th   style="text-align: center" >邮箱</th>
          <td  align="center" >{$user.email}</td>

        </tr>
        </tbody>
      </table>
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <tr>商品信息</tr>
        <thead>
        <tr>
          <th width="5%">ID</th>
          <th >名称</th>
          <th >购买数量</th>
          <th >购买总价</th>
          <th >总运费</th>
          <th >展示图</th>
          <th >工厂图</th>
          <th >定制图</th>
          <th >表带</th>
          <th >表盘</th>
        </tr>
        </thead>
        <tbody>
        <volist name="goodsList" id="goods">
          <tr>
            <td>{$goods.id}</td>
            <td>{$goods.goods_name}</td>
            <td>{$goods.quantity_ordered}</td>
            <td>{$goods.item_price_amount}</td>
            <td>{$goods.shipping_price_amount}</td>
            <td><img src="{:getImageUrl($goods[image_factory])}"/></td>
            <td><img src="{:getImageUrl($goods[image_url])}"/></td>
            <td><img src="{:getImageUrl($goods[design_photo])}"/></td>
            <td>{$goods.strap}</td>
            <td>{$goods.dial}</td>
          </tr>
        </volist>

        </tbody>
      </table>
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <!--订单  $user-->
        <tr>订单信息</tr>
        <tr>
          <th width="5%">订单号</th>
          <td>{$order.order_no}</td>
          <th width="10%">快递单号</th>
          <td>
            <input id="invoice_no" type="text" name="invoice_no" value="{$order.shipping_number}" <if condition='$order.is_submit eq 1'>readonly</if> />
            <if condition='$order.is_submit eq 0'><button type="button" onclick="order_invoice_no({$order.order_id})">修改</button></if>
          </td>

        </tr>

        <tr>
          <th width="15%">支付方式</th>
          <td>{$order.payment_method}</td>
          <th width="15%">订单总金额</th>
          <td>{$order.amount}</td>

        </tr>
        <tr>
          <th width="15%">订单最后操作时间</th>
          <td>{$order.last_update_date|date='Y-m-d ',###}</td>
          <th width="15%">商品数量</th>
          <td>{$order.countgoods}</td>

        </tr>
        <tr>
          <th width="10%">订单状态</th>
          <td>{$order.order_status}</td>
        </tr>
      </table>
        <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
          <!--订单  $user-->
          <tr>收货人信息</tr>
          <tr>
            <th width="5%">姓名</th>
            <td>{$order.name}</td>
            <th width="10%">地址一</th>
            <td>{$order.address_line1}</td>

          </tr>

          <tr>
            <th width="15%">邮编</th>
            <td>{$order.postal_code}</td>
            <th width="15%">地址二</th>
            <td>{$order.address_line2}</td>

          </tr>
          <tr>
            <th width="15%">电话</th>
            <td>{$order.phone}</td>
            <th width="15%">地址三</th>
            <td>{$order.address_line3}</td>

          </tr>
          <tr>
            <th width="15%">邮箱</th>
            <td>{$order.buyer_email}</td>
            <th width="15%">国家</th>
            <td>{$order.country}</td>
          </tr>
          <tr>

            <th width="10%">州</th>
            <td>{$order.state_or_region}</td>
            <th>城市</th>
            <td>{$order.state_or_region}</td>
          </tr>
          <tr>

            <th width="10%">区</th>
            <td>{$order.district}</td>
          </tr>
        </table>
        <div>
          <input type="hidden" name="user_id" value="{$user.id}">
          <input type="hidden" name="order_id" value="{$order.order_id}">
          <button type="submit" >发货</button>
          <a href="{:U('flow/index')}">返回</a>
        </div>
      </form>

    </div>
  </div>
</div>
<include file="Common:footer" />
<script type="text/javascript" src="__JS__/ossUploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/ossUploader/uploader.js"></script>
<script type="text/javascript">
  var oss_server = "{:C('OSS_HOST')}",
      oss_token_api = "{:U('oss/params')}",
      oss_preview_api = "{:U('oss/photo')}";

  $('#create-photo-picker').uploader({
    initData: "{$sideInfo[create_photo]}",
    multi:false,
    container:$('#create-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="create_photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });
  $('#design-photo-picker').uploader({
    initData: "{$sideInfo[design_photo]}",
    multi:false,
    container:$('#design-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="design_photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });
  function order_invoice_no(id) {
      var invoice_no = document.getElementById('invoice_no').value;
      // console.log(invoice_no);return false;
      if(!/^[0-9]{10,16}$/.test(invoice_no)){
          layer.msg('快递单号错误');
          return false;
      }
      $.ajax({
          url:'{:U("flow/invoice_no")}',
          data:{
              invoice_no:invoice_no,
              order_id:id
          },
          type:'get',
          dataType:'json',
          success:function (data) {
              console.log(data);

              layer.msg(data.result)
          },
          error:function (err) {
              console.log(err);
              layer.msg('网络错误',{time:1})
          }
      })
  }
  $(function(){
    formValidate("mould-edit");
  });
  function order_submit() {
      var invoice_no = document.getElementById('invoice_no').value;
      if(!/^[0-9]{10,16}$/.test(invoice_no)){
          layer.msg('快递单号错误',{time:1});
          return false;
      }
  }
</script>
</body>
</html>