<include file="Common:header" />

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-12">
      <form action="{:U('flow/do_order')}" onsubmit="return order_submit()" method="post">
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <tr>用户信息</tr>
        <thead>
        <tr>
          <th  align="center"  width="25%">ID</th>
          <td  align="center" width="25%">{$user.id}</td>
          <th  align="center"  width="25%">姓名</th>
          <td  align="center">{$user.username}</td>
        </tr>
        <tr>
          <th align="center"  width="15%">是否禁用</th>
          <td  align="center">{$user.id}</td>
          <th  width="15%">邮箱</th>
          <td  align="center" >{$user.email}</td>
        </tr>
        </tbody>
      </table>
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <tr>商品信息</tr>
        <thead>
        <tr>
          <th width="5%">ID</th>
          <th width="10%">展示图</th>
          <th width="15%">工厂图</th>
          <th width="15%">宽</th>
          <th width="15%">高</th>
          <th width="15%">商品数量</th>
          <th width="10%">商品单价</th>
          <!--<th width="10%">操作</th>-->
        </tr>
        </thead>
        <tbody>
        <volist name="designList" id="flow">
          <tr>
            <td>{$flow.order_id}</td>
            <td><img src="{$flow.formatted_design_photo}"/></td>
            <td><img src="{$flow.formatted_effect_photo}"/></td>
            <td>{$flow.width}</td>
            <td>{$flow.height}</td>
            <td>{$flow.nums}</td>
            <td>{$flow.goods_price}</td>
            <!--<td><a href="{:U('flow/edit', array('id'=>$flow[order_id]))}">查看详情</a></td>-->
              <!--<a href="{:U('mould/delete', array('cat_id'=>$cat_id, 'id'=>$side['id']))}" onclick="return confirm('确认要删除吗？');">删除</a></td>-->
          </tr>
        </volist>

        </tbody>
      </table>
      <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
        <!--订单  $user-->
        <tr>订单信息</tr>
        <tr>
          <th width="5%">订单号</th>
          <td>{$order.order_sn}</td>
          <th width="10%">快递单号</th>
          <td>
            <input id="invoice_no" type="text" name="invoice_no" value="{$order.invoice_no}" <if condition='$order.is_submit eq 1'>readonly</if> />
            <if condition='$order.is_submit eq 0'><button type="button" onclick="order_invoice_no({$order.order_id})">修改</button></if>
          </td>

        </tr>

        <tr>
          <th width="15%">金额</th>
          <td>{$order.formatted_goods_price}</td>
          <th width="15%">地址</th>
          <td>{$order.country} {$order.city}</td>

        </tr>
        <tr>
          <th width="15%">邮箱</th>
          <td>{$order.email}</td>
          <th width="15%">商品数量</th>
          <td>{$order.zipcode}</td>

        </tr>
        <tr>
          <th width="10%">邮编</th>
          <td>{$order.zipcode}</td>
        </tr>
      </table>
        <div>
          <input type="hidden" name="user_id" value="{$user.id}">
          <input type="hidden" name="order_id" value="{$order.order_id}">
          <button type="submit" >发货</button>
          <a href="{:U('flow/index')}">返回</a>
        </div>
      </form>
      <!--<form action="<if condition='isset($sideInfo[id]) '>{:U('mould/edit')}<else />{:U('mould/add')}</if>" method="post" id="form-category-edit">-->
        <!--<div class="form-group">-->
          <!--<label for="title"><span class="c-red">*</span>标题：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="title" id="title" value="{$sideInfo.title}" required />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="control-label"><span class="c-red">*</span>是否需要生成：</label>-->
          <!--<div>-->
            <!--<label class="radio-inline"><input name="need_create" type="radio" value="0" <if condition="$sideInfo.need_create eq 0">checked</if> required /> 不需要</label>-->
            <!--<label class="radio-inline"><input name="need_create" type="radio" value="1" <if condition="$sideInfo.need_create eq 1">checked</if> /> 需要</label>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="width">匹配设计图宽：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="width" id="width" value="{$sideInfo.width}"  />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="height">匹配设计图高：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="height" id="height" value="{$sideInfo.height}"  />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="mould_width">模具图宽：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="mould_width" id="mould_width" value="{$sideInfo.mould_width}"  />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="mould_height">模具图高：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="mould_height" id="mould_height" value="{$sideInfo.mould_height}"  />-->
        <!--</div>-->
        <!--<div class="form-group clearfix">-->
          <!--<label>生成产品图的图层(不透明)：</label>-->
          <!--<div class="photo-picker" id="create-photo-picker">选择图片</div>-->
          <!--<div id="create-photo-container"></div>-->
        <!--</div>-->
        <!--<div class="form-group clearfix">-->
          <!--<label>设计器里的图层(半透明)：</label>-->
          <!--<div class="photo-picker" id="design-photo-picker">选择图片</div>-->
          <!--<div id="design-photo-container"></div>-->
        <!--</div>-->
        <!--<input type="hidden" name="position" value="1" placeholder="位置(从1开始，在之前填写n，在之后填写-n)" />-->
        <!--<div class="form-group">-->
          <!--<label for="coordinate_start">起始坐标：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="coordinate_start" id="coordinate_start" value="{$sideInfo.coordinate_start}" placeholder="默认左上角，数字之间用英文逗号隔开" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="coordinate_end">结束坐标：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="coordinate_end" id="coordinate_end" value="{$sideInfo.coordinate_end}" placeholder="默认右下角，数字之间用英文逗号隔开" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="display_order"><span class="c-red">*</span>排序：</label>-->
          <!--<input type="text" class="form-control" autocomplete="off" name="display_order" id="display_order" value="{$sideInfo.display_order}" required />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<button class="btn btn-primary" type="submit">保存</button>-->
        <!--</div>-->
        <!--<input type="hidden" name="cat_id" value="{$cat_id}" />-->
        <!--<input type="hidden" name="id" value="{$sideInfo.id}" />-->
      <!--</form>-->
    </div>
  </div>
</div>
<include file="Common:footer" />
<script type="text/javascript" src="__JS__/ossUploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/ossUploader/uploader.js"></script>
<script type="text/javascript">
  var oss_server = "{:C('OSS_HOST')}",
      oss_token_api = "{:U('oss/params')}",
      oss_preview_api = "{:U('oss/photo')}";

  $('#create-photo-picker').uploader({
    initData: "{$sideInfo[create_photo]}",
    multi:false,
    container:$('#create-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="create_photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });
  $('#design-photo-picker').uploader({
    initData: "{$sideInfo[design_photo]}",
    multi:false,
    container:$('#design-photo-container'),
    imagedir: 'mould',
    callback: function(imginfo, box) {
      var input_obj = $('<input type="hidden" name="design_photo" value="'+imginfo.path+'" />');
      box.append(input_obj);
      box.find('img').css('max-width', '200px').css('width', '100%');
    }
  });
  function order_invoice_no(id) {
      var invoice_no = document.getElementById('invoice_no').value;
      // console.log(invoice_no);return false;
      if(!/^[0-9]{10,16}$/.test(invoice_no)){
          layer.msg('快递单号错误');
          return false;
      }
      $.ajax({
          url:'{:U("flow/invoice_no")}',
          data:{
              invoice_no:invoice_no,
              order_id:id
          },
          type:'get',
          dataType:'json',
          success:function (data) {
              console.log(data);

              layer.msg(data.result)
          },
          error:function (err) {
              console.log(err);
              layer.msg('网络错误',{time:1})
          }
      })
  }
  $(function(){
    formValidate("mould-edit");
  });
  function order_submit() {
      var invoice_no = document.getElementById('invoice_no').value;
      if(!/^[0-9]{10,16}$/.test(invoice_no)){
          layer.msg('快递单号错误',{time:1});
          return false;
      }
  }
</script>
</body>
</html>