<include file="Common:header" />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>订单：
        <a href="{:U('mould/index', array('category_id'=>$categoryInfo[id]))}"></a>
         {$mouldInfo.title}</h4>
      <!--<a href="{:U('mould/add', array('id'=>0,'cat_id'=>$cat_id))}" class="btn"><i class="fa fa-plus"></i> 添加面</a>-->
    </div>
  </div>

  <table id="mould-list" class="table table-border table-bordered table-bg table-hover table-order-sort">
    <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="10%">姓名</th>
      <th width="10%">邮箱</th>
      <th width="10%">下单时间</th>
      <th width="10%">商品个数</th>
      <th width="10%">邮编</th>
      <th width="10%">配送方式</th>
      <th width="10%">支付方式</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="flowList" id="flow">
      <tr>
        <td>{$flow.id}</td>
        <td>{$flow.user_name}</td>
        <td>{$flow.email}</td>
        <td>{$flow.purchase_date| date='Y-m-d',###}</td>
        <td>{$flow.nums}</td>
        <td>{$flow.postal_code}</td>
        <td>{$flow.shipping_type}</td>
        <td>{$flow.payment_method}</td>
        <td><a href="{:U('flow/edit', array('id'=>$flow[id]))}">查看详情</a></td>
        <!--<a href="{:U('mould/delete', array('cat_id'=>$cat_id, 'id'=>$side['id']))}" onclick="return confirm('确认要删除吗？');">删除</a></td>-->
      </tr>
    </volist>

    </tbody>
  </table>
</div>

<include file="Common:footer" />
</body>
</html>