<include file="Common:header" />
<style>
  .pagination{margin:10px 0}
</style>

<div class="container-container" style="margin-top:20px;">
  <h5>数据列表</h5>
  <ul>
    <li><a href="{:U('haoye/pcase')}">手机壳关键字AD</a></li>
    <li><a href="{:U('haoye/watch')}">手表关键词AD</a></li>
    <li><a href="{:U('haoye/tshirt')}">T恤关键词AD</a></li>
    <li><a href="{:U('haoye/phone')}">手机关键词SEARCH</a></li>
    <li><a href="{:U('haoye/a1')}">手表SEARCH</a></li>
    <li><a href="{:U('haoye/a2')}">鼠标垫SEARCH</a></li>
    <li><a href="{:U('haoye/a3')}">T恤SEARCH</a></li>
    <li><a href="{:U('haoye/a4')}">case SEARCH</a></li>
    <li><a href="{:U('haoye/d080113',array('batch'=>'1'))}">2018/1/3数据</a></li>
  </ul>
</div>

<include file="Common:footer" />

</body>
</html>